.bigdvk-out{
    width: 600px;
    transform:translate(-50%,-150%);
}
.bigdvk-in{
    justify-content: space-evenly;
}
.dv{
    min-width: 160px;
    transition: all cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.3s;
}
.dv:hover{
    background: #b7b7b7;
    box-shadow:inset 4px 5px 12px 0px rgba(0,0,0,0.2);
}
