.bigdvk-out{
    width: 600px;
    background: #adadad;
    margin: auto;
    position: relative;
    top: 30%;
    transform: translateY(-50%);
}
.bigdvk-in{
    position: absolute;
    top: 50%;
    display: flex;
}
.dv{
    min-width: 100px;
    min-height: 30px;
    background: #ccc;
}
.dv:hover{
    background: #ddd;
}