@charset "utf-8";
/* CSS Document */


.content {
	margin: 50px;
	width: 200px;
	height: 100px;
/*	overflow: hidden;*/
	border: 1px solid #5E3B3C;
	position: absolute;
	z-index: 10;
	color: #000;
}
.content:after {
	width: 200px;
	height: 100px;
	content: "<div class='bigk'><div class='backg01'><div class='backg02'>4655</div></div><div class='backg01'><div class='backg02'>4655</div></div></div>";
	position: absolute;
	top: 0;
    left: 0;
/*	background-color: rgba(187,57,57,0.2);*/
	z-index: -1;
}
.content::after {
	width: 200px;
	height: 100px;
	content: "";
	position: absolute;
	top: 0;
    left: 0;

	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	-ms-filter: blur(10px);
	-o-filter: blur(10px);
	filter: blur(10px);
	z-index: -2;
}

.bigk{
	
}
.backg01{
	float: left;
	width: 150px;
	height: 200px;
	border: 1px solid #5E3B3C;
	margin-left: 10px;
	background-color: #F08E00;
}
.backg02{
	float: left;
	width: 100px;
	height: 100px;
	border: 1px solid #5E3B3C;
	margin: 20px;
	font-size: 50px;
	line-height: 100px;
	background-color: #652E8E;
	color: #fff;
}