body{
    background: #181818;
}
.bkground00{
    width: 1440px;
    height: 810px;
    background-color: #ccc;
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translate(-50%,0);
}
.bkground_l{
    width: 634px;
    height: 810px;
    background: url("img/backg.jpg");
    box-shadow:5px 0px 20px rgba(0,0,0,.4);
    position: relative;
    float: left;
    z-index: 200;
}
.logobig0{
    width: 214px;
    height: 180px;
    margin-top: 180px;
    margin-left: 160px;
}
.logobig1{
    width: 214px;
    height: 180px;
    background: url("img/logobig1.png");
    position: absolute;
    animation: opaaa 2.5s infinite linear alternate;
}
.logobig2{
    width: 214px;
    height: 180px;
    background: url("img/logobig2.png");
    position: absolute;
    animation: opaaa 3s infinite linear alternate;
}
.logobig3{
    width: 214px;
    height: 180px;
    background: url("img/logobig3.png");
    position: absolute;
    animation: opaaa 2s infinite linear alternate;
}
@keyframes opaaa
{
    0%  {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100%  {
        opacity: 0;
    }
}
.kuang0{
    width: 204px;
    height: 192px;
    margin-top: 45px;
    margin-left: 154px;
}
.kuang1{
    width: 204px;
    height: 192px;
    background: url("img/kuang1.png");
    position: absolute;
 }
.kuang2{
    width: 204px;
    height: 192px;
    background: url("img/kuang2.png");
    position: absolute;
    animation: opaaa 2s infinite linear alternate;
}
.kuang3{
    width: 109px;
    height: 109px;
    background: url("img/kuang3.png");
    position: absolute;
    animation: kuang3 5s infinite linear alternate;
    margin-top: 18px;
    margin-left: 54px;
}
@keyframes kuang3
{
    0%  {
        transform:rotate(0deg);
    }
    50% {
        transform:rotate(360deg);
    }
    100%  {
        transform:rotate(0deg);
    }
}
.kuang4{
    width: 35px;
    height: 35px;
    margin-top: 55px;
    margin-left: 90px;
    background-image: url("img/kuang4.png");
    position: absolute;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
.kuang4:hover{
    width: 33px;
    height: 33px;
    margin-top: 56px;
    margin-left: 91px;
}
.kuang4:active{
    width: 35px;
    height: 35px;
    margin-top: 55px;
    margin-left: 90px;
}
.fontbig{
    width: 209px;
    height: 49px;
    margin-top: 0px;
    margin-left: 180px;
    background: url("img/fontbig.png");
    position: absolute;
    animation: opfont 2.3s infinite linear alternate;
}
@keyframes opfont
{
    0%  {
        opacity: 0.4;
    }
    50% {
        opacity: 1;
    }
    100%  {
        opacity: 0.4;
    }
}
.wrapper {
    width: 806px;
    height: 810px;
    overflow: hidden;
    background: #fff;
}
.wrapper div div {
    position: relative;
    float: left;
    list-style: none;
    width: 201px;
    height: 810px;
    box-shadow:5px 0px 20px rgba(0,0,0,.2);
    transition: .6s;
}
.wrapper div:hover div {
    width: 49px;
    background-position-x:-610px;
}
.wrapper div div:hover {
    width: 659px;
    background-position-x:0px;
    opacity: 1;
}
.content {
    position: absolute;
    width: 659px;
    height: 810px;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position-x:-458px;
    opacity: 0;
}
.pic1{
    background-image: url("img/nei1.jpg");
}
.pic2{
    background-image: url("img/nei2.jpg");
}
.pic3{
    background-image: url("img/nei3.jpg");
}
.pic4{
    background-image: url("img/nei4.jpg");
}
.wrapper div div:nth-child(0){
    z-index: 100;
}
.wrapper div div:nth-child(1){
    z-index: 90;
}
.wrapper div div:nth-child(2){
    z-index: 80;
}
.wrapper div div:nth-child(3){
    z-index: 70;
}
.la1{
    z-index: 101;
    bottom: 100px;
}
.la2{
    z-index: 91;
    bottom: 200px;
}
.la3{
    z-index: 81;;
    bottom: 300px;
}
.la4{
    z-index: 69;
    bottom: 400px;
}
.lan {
    left: 0;
    pointer-events:none;
    background-image: url("img/lan.jpg");
    position: absolute;
    width: 201px;
    height: 72px;
    transition: .6s
}
.wrapper div div:hover .lan {
    width: 659px;
    height: 44px;
    bottom:-16px;
}
.wrapper div:hover .lan {
    width: 49px;
}
.fontcn {
    right: 58px;
    width: 93px;
    height: 23px;
    position: absolute;
    line-height: 60px;
    transition: .6s;
    pointer-events:none;
    opacity: 1;
}
.wrapper div div:hover .fontcn {
    bottom:-8px;
    right:10px;
    opacity: 1;
}
.wrapper div:hover .fontcn {
    opacity: 0;
}
.fcn1{
    background-image: url("img/fcn1.png");
    z-index: 102;
    bottom:122px;
}
.fcn2{
    background-image: url("img/fcn2.png");
    z-index: 92;
    bottom:222px;
}
.fcn3{
    background-image: url("img/fcn3.png");
    z-index: 82;
    bottom:322px;
}
.fcn4{
    background-image: url("img/fcn4.png");
    z-index: 70;
    bottom:422px;
}
.fontus {
    right: 13px;
    width: 23px;
    height: 168px;
    position: absolute;
    transition: .6s;
    pointer-events:none;
}
.wrapper div div:hover .fontus {
    bottom:45px;
}
.wrapper div:hover .fontus {
    right:10px;
}
.fus1{
    background-image: url("img/fus1.png");
    z-index: 103;
    bottom:185px;
}
.fus2{
    background-image: url("img/fus2.png");
    z-index: 93;
    bottom:285px;
}
.fus3{
    background-image: url("img/fus3.png");
    z-index: 83;
    bottom:385px;
}
.fus4{
    background-image: url("img/fus4.png");
    z-index: 73;
    bottom:485px;
}
