@charset "utf-8";
/* CSS Document */


.content {
	margin: 50px;
	width: 200px;
	height: 100px;
/*	overflow: hidden;*/
	border: 1px solid #5E3B3C;
	position: absolute;
	z-index: 10;
	color: #000;
}


.backg01{
	float: left;
	width: 150px;
	height: 200px;
	border: 1px solid #5E3B3C;
	margin-left: 10px;
	background-color: #F08E00;
	overflow: hidden;
	-webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}
.backg02{
	float: left;
	width: 300px;
	height: 100px;
	border: 1px solid #5E3B3C;
	margin: 20px;
	font-size: 50px;
	line-height: 100px;
	background-color: #652E8E;
	color: #fff;
}