@import url(csshake.css);


$backgroundBase-color: #F2EFE9; //body色
$grayBox-color: #ECECEC; //灰框底色
$grayBorder-color: #E1E1E1; //灰框边框色
$darkBase-color: #1A1E26; //深蓝色
$myGray-color: #ACACAC; //+号灰颜色
$lightGray-color: #8C8C8C;
$blackFontHover-color: #5f5f5f;
$myRed-color: #A60A27;
$myYellow-color: #D5AD77;

$smallBaseBox-height: 640px; //登录框高度
$smallBaseBox-width: 490px;
$bigBaseBox-width: 1140px;
$fileBoxSize: 122px;
@mixin fileBigBoxSize {
  width: 414px;
  height: 536px;
}

$liFiBox_left_width: 33px;

$baseBoxLeft-width: 9px; //登录框左边黑线宽
$myTransition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);

@mixin base-box($kBorder-color) {
  border: 1px solid $kBorder-color;
}

@mixin hoverBright($i) {
  filter: brightness($i);
}

body {
  background-color: $backgroundBase-color;
  //display: flex;
  //justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Microsoft YaHei, serif;
  font-size: 14px;
  color: $darkBase-color;
  user-select: none;
}

.smallBaseBox {
  width: $smallBaseBox-width;
  height: $smallBaseBox-height;
  margin: 120px auto 0 auto;
  box-shadow: 1px 3px 6px 0 rgba(0, 0, 0, .05);

  &:hover {
    box-shadow: none;
    animation: smallBaseBoxBoom 1s 1;
  }
}

@keyframes smallBaseBoxBoom {
  from {
    box-shadow: 1px 3px 6px 0 rgba(0, 0, 0, .05);
  }
  to {
    box-shadow: 1px 3px 100px 0 rgba(0, 0, 0, .0);
  }
}

.grayBorder {
  background-color: $grayBox-color;
  @include base-box($grayBorder-color);
}

.leftLine {
  float: left;
  background-color: $darkBase-color;
  height: $smallBaseBox-height + 2px;
  width: $baseBoxLeft-width;
  //box-sizing: border-box;
  margin-top: -1px;
}

.leftContent {
  float: left;
  position: relative;
  height: $smallBaseBox-height;
  width: $smallBaseBox-width - $baseBoxLeft-width;
  box-sizing: border-box;
}
.leftContent_padding{
  padding-left: 20px;
}

#logoBox {
  float: left;
  position: absolute;
  background-color: $grayBox-color;
  border: 5px solid $darkBase-color;
  border-radius: 3px;
  $thisWidth: 98px;
  width: $thisWidth;
  height: $thisWidth;
}

@keyframes logoBoom {
  from {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .0);
  }
  10% {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
  }
  to {
    box-shadow: 0 0 506px 0 rgba(0, 0, 0, .0);
  }
}

.logoPosition01 {
  top: 111px;
  left: 185px;
  animation: logoBoom 5s cubic-bezier(0.6, -0.28, 0.74, 0.05) infinite;
}

.logoPosition02 {
  top: -55px;
  left: 37px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .2);
}
.logoPosition03{
  @extend .logoPosition02;
  left: 17px;
}

.logoFont {
  font-size: 40px;
  font-weight: bold;
  line-height: 4px;
  letter-spacing: 4px;
  text-align: center;
  margin-top: -16px;
  margin-left: 6px;
}

#myVerID {
  float: left;
  color: $lightGray-color;
  font-size: 12px;
  text-align: center;
  width: $smallBaseBox-width - $baseBoxLeft-width - 40px;
  height: 71px;
  margin-top: 230px;
}

.loginBigBox {
  float: left;
  margin-bottom: 15px;
  width: $smallBaseBox-width - $baseBoxLeft-width - 20px;
  height: 30px;

  span {
    margin-left: 81px;
    margin-right: 6px;
  }

  input {
    width: 140px;
    height: 24px;
    padding-left: 10px;
    padding-right: 10px;
    @include base-box(#8C8C8C);

    &:hover {
      border-color: #babfc7;
    }
  }

  a {
    margin-left: 10px;
    color: #9CA9C2;
    text-decoration: none;

    &:hover {
      @include hoverBright(1.1);
    }
  }
}

.loginCheckBox {
  float: left;
  margin-top: 10px;
  height: 50px;
  width: $smallBaseBox-width - $baseBoxLeft-width - 20px;

  input {
    float: left;
    margin-top: 3px;

    &:nth-child(1) {
      margin-left: 132px;
    }
  }

  label {
    float: left;
    margin-right: 14px;

    &:hover {
      @include hoverBright(2);
    }
  }
}

.loginNext {
  float: left;
  position: absolute;
  width: 100px;
  font-weight: bold;
  cursor: pointer;

  img {
    float: left;
  }

  span {
    float: left;
    margin-top: 16px;
    margin-left: 8px;
  }

  &:hover {
    @include hoverBright(2);
  }

  &.next_off {
    filter: contrast(0%);
    cursor: default;
  }
}

.next_01 {
  top: 570px;
  left: 353px;
}

.next_02 {
  top: 19px;
  left: 353px;
}
.next_03 {
  @extend .next_02;
  left: 323px;
}
.next_04 {
  @extend .next_03;
}

#loginInTopMu {
  display: none;
  float: left;
  margin-top: 35px;
  margin-left: 155px;
  width: 300px;

  span {
    margin-right: 5px;
    float: left;
  }

  span:nth-child(3), span:nth-child(4) {
    display: none;
  }
}

#loadFileBigBox {
  display: none;
  position: relative;
  float: left;
  margin-left: 17px;
  @include fileBigBoxSize;
  //background: #9CA9C2;
}

.loFiGd {
  position: absolute;
  @include fileBigBoxSize;
  padding-left: 0;
}

.loFiGd_B {
  z-index: 1;
}

.loFiGd_F {
  z-index: 5;
}

.loFiGd_C {
  z-index: 5;
  display: none;
}

.liFiBox_B {
  @include base-box(#D9D9D9);
}

.liFiBox_S {
  display: none;
  background-color: #ffffff;
  cursor: pointer;

  &:hover {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .1);
  }

  &#liFiBox_S_select {
    box-shadow: 0 0 0 5px $blackFontHover-color;

    &:hover {
      box-shadow: 0 0 0 5px $blackFontHover-color;
    }
  }
}

.schoolBox {
  @extend .liFiBox_S;

  &#schoolBox_select {
    box-shadow: 0 0 0 5px $blackFontHover-color;

    &:hover {
      box-shadow: 0 0 0 5px $blackFontHover-color;
    }
  }
}

@mixin liFiBox_AR {
  font-size: 70px;
  line-height: $fileBoxSize - 2px;
  text-align: center;
  cursor: pointer;
}

.liFiBox_A {
  @include liFiBox_AR;
  color: $myGray-color;
  display: none;

  &:hover {
    @include hoverBright(1.2);
  }
}

.liFiBox_AL {
  @include liFiBox_AR;
  cursor: default;
  color: #DEDEDE;
}

#liFiBox_R {
  @include liFiBox_AR;
  width: $fileBoxSize;
  height: $fileBoxSize;
  color: #DEDEDE;
  display: none;
  box-sizing: border-box;
  float: left;
  position: absolute;
  top: 428px;
  left: 276px;
  z-index: 10;

  &:hover {
    color: $myRed-color;
  }
}

.liFiBox_R {
  color: $myRed-color !important;

  &:hover {
    @include hoverBright(1.2);
  }
}

.liFiBox_size {
  width: $fileBoxSize;
  height: $fileBoxSize;
  box-sizing: border-box;
  margin-bottom: 16px;
  margin-right: 16px;
  list-style-type: none;
  float: left;
  overflow: hidden;
}

.liFiBox_left {
  box-sizing: border-box;
  width: $liFiBox_left_width;
  height: $fileBoxSize;
  float: left;
  background-color: $myYellow-color;
  font-weight: bold;
  text-align: center;
  padding-top: 9px;
  padding-left: 1px;
}
.liFiBox_logo{
  $size: 22px;
  width: $size;
  height: $size;
  margin-bottom: 1px;
  margin-left: 7px;
}
.liFiBox_left_hover {
  box-shadow: 3px 0 3px 0 rgba(0, 0, 0, .1);
}
.schoolBox_top_hover {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .1);
}

.liFiBox_name {
  float: left;
  box-sizing: border-box;
  //background-color: #5f5f5f;
  width: $fileBoxSize - $liFiBox_left_width;
  height: 40px;
  line-height: 40px;
  padding-left: 9px;
}

.myBlur {
  filter: blur(5px) brightness(120%);
}

.liFiBox_Sss {
  z-index: 6;
}

.liFiBox_Sxx {
  @include liFiBox_AR;
  width: $fileBoxSize;
  height: $fileBoxSize;
  box-sizing: border-box;
  position: absolute;
  z-index: 7;
  color: $myGray-color;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.9) 20%, rgba(255, 255, 255, 0.3) 26%, rgba(255, 255, 255, 0.5) 100%);

  &:hover {
    @include hoverBright(1.2);
    background-color: rgba(255, 255, 255, .5);
  }
}

.bigBaseBox {
  width: $bigBaseBox-width;
  height: $smallBaseBox-height;
  margin: 120px auto 0 auto;
  box-shadow: 1px 3px 6px 0 rgba(0, 0, 0, .05);
}

.schoolBox_top{
  width: $fileBoxSize;
  height: 44px;
  background-color: $myYellow-color;
  font-size: 18px;
  font-weight: bold;
  line-height: 45px;
}
.schoolBox_logo{
  $size: 24px;
  width: $size;
  height: $size;
  float: left;
  margin: 11px 6px;
}
.schoolBox_bottom{
  line-height: 16px;
  margin-left: 15px;
  width: 100px;
  height: 71px;
  display: flex;
  flex-direction: column-reverse;
}
.logo_DL{
  background: url("../images/scLogo_DL.svg") no-repeat;
}
.logo_EM{
  background: url("../images/scLogo_EM.svg") no-repeat;
}
.logo_JG{
  background: url("../images/scLogo_JG.svg") no-repeat;
}
.logo_MR{
  background: url("../images/scLogo_MR.svg") no-repeat;
}
.logo_SL{
  background: url("../images/scLogo_SL.svg") no-repeat;
}
.logo_SX{
  background: url("../images/scLogo_SX.svg") no-repeat;
}
.logo_TM{
  background: url("../images/scLogo_TM.svg") no-repeat;
}
.logo_WJ{
  background: url("../images/scLogo_WJ.svg") no-repeat;
}
.logo_WP{
  background: url("../images/scLogo_WP.svg") no-repeat;
}
.logo_XH{
  background: url("../images/scLogo_XH.svg") no-repeat;
}
.logo_YZ{
  background: url("../images/scLogo_YZ.svg") no-repeat;
}
.rightContent{
  float: left;
  width: 682px;
  height: 602px;
  margin-top: 19px;
  margin-left: -52px;
}
.rightContent_topL{
  float: left;
  width: 461px;
  height: 171px;
  //background: #5f5f5f;
}
.rightContent_topR{
  float: left;
  width: 213px;
  height: 171px;
  //background: #5fdd5f;
}
.rightContent_topB{
  float: left;
  width: 674px;
  height: 399px;
  //background: #d22921;
  margin-top: 15px;
}
.bigSLogo{
  $size: 90px;
  height: $size;
  width: $size;
  background-color: $myYellow-color;
  float: left;
}
.bigSLogo_size{
  $size: 70px;
  height: $size;
  width: $size;
  margin: 10px;
}

$schoolNameBox_height: 56px;
.schoolNameBox{
  float: left;
  width: 371px;
  height: $schoolNameBox_height;
  background-color: #D6D6D6;
}
#schoolName{
  float: left;
  font-size: 22px;
  font-weight: bold;
  margin-left: 31px;
  height: $schoolNameBox_height;
  line-height: $schoolNameBox_height;
}
#schoolLevel{
  float: left;
  margin-left: 80px;
  height: $schoolNameBox_height;
  line-height: $schoolNameBox_height + 8px;
}
#schoolRank{
  float: left;
  margin-left: 31px;
  width: 168px;
  height: 35px;
  line-height: 35px;
}
#schoolPerson{
  float: left;
  width: 171px;
  height: 35px;
  line-height: 35px;
}
#schoolStar{
  float: left;
  width: 90px;
  height: 72px;
  line-height: 16px;
  box-sizing: border-box;
  padding-top: 8px;
  padding-left: 8px;
}
#schoolInf{
  float: left;
  width: 371px;
  height: 81px;
  box-sizing: border-box;
  padding: 10px 20px;
}