$backgroundBase-color: #F2EFE9;//body色
$grayKuang-color: #ECECEC;//灰框底色
$grayKuang-borderLine-color:#E1E1E1;//灰框边框色
$darkBase-color: #1A1E26;//深蓝色
$lightGray-color: #8C8C8C;
$blackFontHover-color: #5f5f5f;
$myRed-color: #A60A27;

$baseKuang-height: 640px;//登录框高度
$baseKuang-width: 490px;
$fileBoxSize: 122px;
@mixin fileBigBoxSize{
  width: 414px;
  height: 536px;
}

$baseKuangLeft-width: 9px;//登录框左边黑线宽
$myTransition:all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);

@mixin base-kuang($kborderLine-color) {
  border: 1px solid $kborderLine-color;
}
@mixin hoverBright($i){
  filter: brightness($i);
}

body{
  background-color: $backgroundBase-color;
  display: flex;
  justify-content:center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family:Microsoft YaHei;
  font-size: 14px;
  color:$darkBase-color;
  user-select: none;
}
.smallBaseKuang{
  width: $baseKuang-width;
  height: $baseKuang-height;
  margin-top: 120px;
  box-shadow: 1px 3px 6px 0 rgba(0,0,0,.05);
  //transition: $myTransition;
  &:hover{
    box-shadow: none;
    animation: smallBaseKuangBloou 1s  1;
  }
}
@keyframes smallBaseKuangBloou {
  from{ box-shadow: 1px 3px 6px 0 rgba(0,0,0,.05); }
  //50%{ box-shadow: 1px 3px 100px 0 rgba(0,0,0,.0); }
  to{ box-shadow: 1px 3px 100px 0 rgba(0,0,0,.0); }
}
.grayKuang{
  background-color: $grayKuang-color;
  @include base-kuang($grayKuang-borderLine-color);
}
.leftLine{
  float: left;
  background-color: $darkBase-color;
  height: $baseKuang-height + 2px;
  width: $baseKuangLeft-width;
  //box-sizing: border-box;
  margin-top: -1px;
}
.rightContent{
  float: left;
  position: relative;
  height: $baseKuang-height;
  width: $baseKuang-width - $baseKuangLeft-width;
}
.logoBox{
  float: left;
  position: absolute;
  background-color: $grayKuang-color;
  border: 5px solid $darkBase-color;
  border-radius: 3px;
  $thisWidth: 98px;
  width: $thisWidth;
  height: $thisWidth;
}
@keyframes logoBloou {
  from{ box-shadow: 0px 0px 0px 0 rgba(0,0,0,.0); }
  10%{ box-shadow: 0px 0px 6px 0 rgba(0,0,0,.5); }
  to{ box-shadow: 0px 0px 506px 0 rgba(0,0,0,.0); }
}
.logoPosition01{
  top: 111px;
  left: 185px;
  animation: logoBloou 5s cubic-bezier(0.6, -0.28, 0.74, 0.05) infinite;
}
.logoPosition02{
  top: -55px;
  left: 37px;
  box-shadow: 0px 3px 6px 0 rgba(0,0,0,.2);
}
.logoFont{
  font-size: 40px;
  font-weight: bold;
  line-height: 4px;
  letter-spacing: 4px;
  text-align: center;
  margin-top: -16px;
  margin-left: 6px;
}
#myVerID{
  float: left;
  color: $lightGray-color;
  font-size: 12px;
  text-align: center;
  width: $baseKuang-width - $baseKuangLeft-width;
  height: 71px;
  margin-top: 230px;
}
.loginBigBox{
  float: left;
  margin-bottom: 15px;
  width: $baseKuang-width - $baseKuangLeft-width;
  height: 30px;
  span{
    margin-left: 101px;
    margin-right: 6px;
  }
  input{
    width: 140px;
    height: 24px;
    padding-left: 10px;
    padding-right: 10px;
    @include base-kuang(#8C8C8C);
    &:hover{
      border-color: #babfc7;
    }
  }
  a{
    margin-left: 10px;
    color: #9CA9C2;
    text-decoration: none;
    &:hover{
      @include hoverBright(1.1);
    }
  }
}
.loginCheckBox{
  float: left;
  margin-top: 10px;
  height: 50px;
  width: $baseKuang-width - $baseKuangLeft-width;
  input{
    float: left;
    margin-top: 3px;
    &:nth-child(1) {
      margin-left: 152px;
    }
  }
  label{
    float: left;
    margin-right: 14px;
    &:hover{
      @include hoverBright(2);
    }
  }
}
.loginNext{
  float: left;
  position: absolute;
  width: 100px;
  left: 353px;
  font-weight: bold;
  cursor: pointer;
  img{
    float: left;
  }
  span{
    float: left;
    margin-top: 16px;
    margin-left: 8px;
  }
  &:hover{
    @include hoverBright(2);
  }
}
.next_01{
  top: 570px;
}
.next_02{
  top: 19px;
}
#loginInTopMu{
  display: none;
  float: left;
  margin-top: 35px;
  margin-left: 175px;
  width: 300px;
  span{
    margin-right: 5px;
  }
}
#loadFileBigBox{
  display: none;
  position: relative;
  float: left;
  margin-top: 16px;
  margin-left: 37px;
  @include fileBigBoxSize;
  //background: #9CA9C2;
}
.loFiGd{
  //display: flex;
  //flex-wrap: wrap;
  //align-content: flex-start;
  //justify-content: flex-start;
  position: absolute;
  @include fileBigBoxSize;
  padding-left: 0px;
}
.loFiGd_B{
  z-index: 1;
}
.loFiGd_F{
  z-index: 2;
}
.liFiBox_B{
  @include base-kuang(#D9D9D9);
}
.liFiBox_S{
  display: none;
  background-color: #ffffff;
  cursor: pointer;
  &:hover{
    box-shadow: 0px 3px 6px 0 rgba(0,0,0,.1);
  }
}

@mixin liFiBox_AR {
  font-size: 70px;
  line-height: $fileBoxSize - 2px;
  text-align: center;
  cursor: pointer;
}
.liFiBox_A{
  @include liFiBox_AR;
  color: #ACACAC;
  display: none;
  &:hover{
    @include hoverBright(1.2);
  }
}
.liFiBox_R{
  @include liFiBox_AR;
  width: $fileBoxSize;
  height: $fileBoxSize;
  color: #DEDEDE;
  display: none;
  box-sizing: border-box;
  float: left;
  position: absolute;
  top: 428px;
  left: 276px;
  z-index: 3;
  &:hover{
    color: $myRed-color;
  }
}
.liFiBox_size{
  width: $fileBoxSize;
  height: $fileBoxSize;
  box-sizing: border-box;
  margin-bottom: 16px;
  margin-right: 16px;
  list-style-type: none;
  float: left;
}
