@import url(csshake.css);


$backgroundBase-color: #F2EFE9; //body色
$grayBox-color: #ECECEC; //灰框底色
$grayBorder-color: #E1E1E1; //灰框边框色
$darkBase-color: #1A1E26; //深蓝色
$myGray-color: #ACACAC; //+号灰颜色
$lightGray-color: #8C8C8C;
$blackFontHover-color: #5f5f5f;
$myRed-color: #A60A27;
$myYellow-color: #D5AD77;
$aTab-color: #A6A197;
$tableTitle-color: #464951;
$myWhite-color: #ffffff;
$hp-blue-color: #9CA9C2;
$light-color: #D5D5D5;

$smallBaseBox-height: 640px; //登录框高度
$smallBaseBox-width: 490px;
$bigBaseBox-width: 1140px;
$fileBoxSize: 122px;
@mixin fileBigBoxSize {
  width: 414px;
  height: 536px;
}

$showTab_width: 674px;
$liFiBox_left_width: 33px;
$table_closeIco_Size: 16px;
$baseBoxLeft-width: 9px; //登录框左边黑线宽
$myTransition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);

@mixin base-box($kBorder-color) {
  border: 1px solid $kBorder-color;
}

@mixin hoverBright($i) {
  filter: brightness($i);
}

@mixin darkButton {
  cursor: pointer;
  background-color: $tableTitle-color;
  color: #ffffff;
  text-align: center;
  &:hover {
    @include hoverBright(1.2);
  }
}

body {
  background-color: $backgroundBase-color;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Microsoft YaHei, serif;
  font-size: 14px;
  color: $darkBase-color;
  user-select: none;
}

ul {
  margin-block-end: 0;
  margin-block-start: 0;
}


.smallBaseBox {
  width: $smallBaseBox-width;
  height: $smallBaseBox-height;
  margin: 120px auto 0 auto;
  box-shadow: 1px 3px 6px 0 rgba(0, 0, 0, .05);

  &:hover {
    box-shadow: none;
    animation: smallBaseBoxBoom 1s 1;
  }
}

@keyframes smallBaseBoxBoom {
  from {
    box-shadow: 1px 3px 6px 0 rgba(0, 0, 0, .05);
  }
  to {
    box-shadow: 1px 3px 100px 0 rgba(0, 0, 0, .0);
  }
}

.grayBorder {
  background-color: $grayBox-color;
  @include base-box($grayBorder-color);
}

.leftLine {
  float: left;
  background-color: $darkBase-color;
  height: $smallBaseBox-height + 2px;
  width: $baseBoxLeft-width;
  //box-sizing: border-box;
  margin-top: -1px;
}

.leftContent {
  float: left;
  position: relative;
  height: $smallBaseBox-height;
  width: $smallBaseBox-width - $baseBoxLeft-width;
  box-sizing: border-box;
}

.leftContent_padding {
  padding-left: 20px;
}

.logoBox {
  float: left;
  position: absolute;
  background-color: $grayBox-color;
  border: 5px solid $darkBase-color;
  border-radius: 3px;
  $thisWidth: 98px;
  width: $thisWidth;
  height: $thisWidth;
}

@keyframes logoBoom {
  from {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .0);
  }
  10% {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
  }
  to {
    box-shadow: 0 0 506px 0 rgba(0, 0, 0, .0);
  }
}

.logoPosition01 {
  top: 111px;
  left: 185px;
  animation: logoBoom 5s cubic-bezier(0.6, -0.28, 0.74, 0.05) infinite;
}

.logoPosition02 {
  top: -55px;
  left: 37px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .2);
}

.logoPosition03 {
  @extend .logoPosition02;
  left: 17px;
}

.logoFont {
  font-size: 40px;
  font-weight: bold;
  line-height: 4px;
  letter-spacing: 4px;
  text-align: center;
  margin-top: -16px;
  margin-left: 6px;
}

#myVerID {
  float: left;
  color: $lightGray-color;
  font-size: 12px;
  text-align: center;
  width: $smallBaseBox-width - $baseBoxLeft-width - 40px;
  height: 71px;
  margin-top: 230px;
}

.loginBigBox {
  float: left;
  margin-bottom: 15px;
  width: $smallBaseBox-width - $baseBoxLeft-width - 20px;
  height: 30px;

  span {
    margin-left: 81px;
    margin-right: 6px;
  }

  input {
    width: 140px;
    height: 24px;
    padding-left: 10px;
    padding-right: 10px;
    @include base-box(#8C8C8C);

    &:hover {
      border-color: #babfc7;
    }
  }

  a {
    margin-left: 10px;
    color: #9CA9C2;
    text-decoration: none;

    &:hover {
      @include hoverBright(1.1);
    }
  }
}

.loginCheckBox {
  float: left;
  margin-top: 10px;
  height: 50px;
  width: $smallBaseBox-width - $baseBoxLeft-width - 20px;

  input {
    float: left;
    margin-top: 3px;

    &:nth-child(1) {
      margin-left: 132px;
    }
  }

  label {
    float: left;
    margin-right: 14px;

    &:hover {
      @include hoverBright(2);
    }
  }
}

.loginNext {
  float: left;
  position: absolute;
  width: 100px;
  font-weight: bold;
  cursor: pointer;

  > div {
    float: left;
    height: 34px;
    width: 34px;
    background: url("../images/goButton.png") no-repeat;
  }

  span {
    float: left;
    margin-top: 16px;
    margin-left: 8px;
  }

  &:hover {
    @include hoverBright(2);
  }

  &.next_off {
    filter: contrast(0%);
    cursor: default;
  }
}

.next_01 {
  top: 570px;
  left: 353px;
}

.next_02 {
  top: 19px;
  left: 353px;
}

.next_03 {
  @extend .next_02;
  left: 323px;
}

.next_04 {
  @extend .next_03;
}

#loginInTopMu {
  display: none;
  float: left;
  margin-top: 35px;
  margin-left: 155px;
  width: 300px;

  span {
    margin-right: 5px;
    float: left;
  }

  span:nth-child(3), span:nth-child(4) {
    display: none;
  }
}

#loadFileBigBox {
  display: none;
  position: relative;
  float: left;
  margin-left: 17px;
  margin-top: 16px;
  @include fileBigBoxSize;
  //background: #9CA9C2;
}

.loFiGd {
  position: absolute;
  @include fileBigBoxSize;
  padding-left: 0;
  margin-top: 9px;
}

.loFiGd_B {
  z-index: 1;
}

.loFiGd_F {
  z-index: 5;
}

.loFiGd_C {
  z-index: 5;
  display: none;
}

.liFiBox_B {
  @include base-box(#D9D9D9);
}

.liFiBox_S {
  display: none;
  background-color: #ffffff;
  cursor: pointer;

  &:hover {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .1);
  }

  &#liFiBox_S_select {
    box-shadow: 0 0 0 5px $blackFontHover-color;

    &:hover {
      box-shadow: 0 0 0 5px $blackFontHover-color;
    }
  }
}

.schoolBox {
  @extend .liFiBox_S;

  &#schoolBox_select {
    box-shadow: 0 0 0 5px $blackFontHover-color;

    &:hover {
      box-shadow: 0 0 0 5px $blackFontHover-color;
    }
  }
}

@mixin liFiBox_AR {
  font-size: 70px;
  line-height: $fileBoxSize - 2px;
  text-align: center;
  cursor: pointer;
}

.liFiBox_A {
  @include liFiBox_AR;
  color: $myGray-color;
  display: none;

  &:hover {
    @include hoverBright(1.2);
  }
}

.liFiBox_AL {
  @include liFiBox_AR;
  cursor: default;
  color: #DEDEDE;
}

#liFiBox_R {
  @include liFiBox_AR;
  width: $fileBoxSize;
  height: $fileBoxSize;
  color: #DEDEDE;
  display: none;
  box-sizing: border-box;
  float: left;
  position: absolute;
  top: 428px;
  left: 276px;
  z-index: 10;

  &:hover {
    color: $myRed-color;
  }
}

.liFiBox_R {
  color: $myRed-color !important;

  &:hover {
    @include hoverBright(1.2);
  }
}

.liFiBox_size {
  width: $fileBoxSize;
  height: $fileBoxSize;
  box-sizing: border-box;
  margin-bottom: 16px;
  margin-right: 16px;
  list-style-type: none;
  float: left;
  overflow: hidden;
}

.liFiBox_left {
  box-sizing: border-box;
  width: $liFiBox_left_width;
  height: $fileBoxSize;
  float: left;
  background-color: $myYellow-color;
  font-weight: bold;
  text-align: center;
  padding-top: 9px;
  padding-left: 1px;
}

.liFiBox_logo {
  $size: 22px;
  width: $size;
  height: $size;
  margin-bottom: 1px;
  margin-left: 7px;
}

.liFiBox_left_hover {
  box-shadow: 3px 0 3px 0 rgba(0, 0, 0, .1);
}

.schoolBox_top_hover {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .1);
}

.liFiBox_name {
  float: left;
  box-sizing: border-box;
  //background-color: #5f5f5f;
  width: $fileBoxSize - $liFiBox_left_width;
  height: 40px;
  line-height: 40px;
  padding-left: 9px;
}

.myBlur {
  filter: blur(5px) brightness(120%);
}

.liFiBox_Sss {
  z-index: 6;
}

.liFiBox_Sxx {
  @include liFiBox_AR;
  width: $fileBoxSize;
  height: $fileBoxSize;
  box-sizing: border-box;
  position: absolute;
  z-index: 7;
  color: $myGray-color;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.9) 20%, rgba(255, 255, 255, 0.3) 26%, rgba(255, 255, 255, 0.5) 100%);

  &:hover {
    @include hoverBright(1.2);
    background-color: rgba(255, 255, 255, .5);
  }
}

.bigBaseBox {
  width: $bigBaseBox-width;
  height: $smallBaseBox-height;
  margin: 120px auto 0 auto;
  box-shadow: 1px 3px 6px 0 rgba(0, 0, 0, .05);
}

.schoolBox_top {
  width: $fileBoxSize;
  height: 44px;
  background-color: $myYellow-color;
  font-size: 18px;
  font-weight: bold;
  line-height: 45px;
}

.schoolBox_logo {
  $size: 24px;
  width: $size;
  height: $size;
  float: left;
  margin: 11px 6px;
}

.schoolBox_bottom {
  line-height: 16px;
  margin-left: 15px;
  width: 100px;
  height: 71px;
  display: flex;
  flex-direction: column-reverse;
}

.logo_DL {
  background: url("../images/scLogo_DL.svg") no-repeat;
}

.logo_EM {
  background: url("../images/scLogo_EM.svg") no-repeat;
}

.logo_JG {
  background: url("../images/scLogo_JG.svg") no-repeat;
}

.logo_MR {
  background: url("../images/scLogo_MR.svg") no-repeat;
}

.logo_SL {
  background: url("../images/scLogo_SL.svg") no-repeat;
}

.logo_SX {
  background: url("../images/scLogo_SX.svg") no-repeat;
}

.logo_TM {
  background: url("../images/scLogo_TM.svg") no-repeat;
}

.logo_WJ {
  background: url("../images/scLogo_WJ.svg") no-repeat;
}

.logo_WP {
  background: url("../images/scLogo_WP.svg") no-repeat;
}

.logo_XH {
  background: url("../images/scLogo_XH.svg") no-repeat;
}

.logo_YZ {
  background: url("../images/scLogo_YZ.svg") no-repeat;
}

.rightContent {
  float: left;
  width: 682px;
  height: 602px;
  margin-top: 19px;
  margin-left: -52px;
  display: none;
}

.rightContent_topL {
  float: left;
  width: 461px;
  height: 171px;
  //background: #5f5f5f;
}

.rightContent_topR {
  float: left;
  width: 213px;
  height: 171px;
  //background: #5fdd5f;
}

#myBigChart {
  float: left;
  width: 200px;
  height: 171px;
  margin-left: 12px;
}

.rightContent_Bottom {
  float: left;
  width: $showTab_width;
  margin-top: 15px;
}

.bigSLogo {
  $size: 90px;
  height: $size;
  width: $size;
  background-color: $myYellow-color;
  float: left;
}

.bigSLogo_size {
  $size: 70px;
  height: $size;
  width: $size;
  margin: 10px;
}

$schoolNameBox_height: 56px;
.schoolNameBox {
  float: left;
  width: 371px;
  height: $schoolNameBox_height;
  background-color: #D6D6D6;
}

#schoolName {
  float: left;
  font-size: 22px;
  font-weight: bold;
  margin-left: 31px;
  height: $schoolNameBox_height;
  width: 100px;
  line-height: $schoolNameBox_height;
}

#schoolLevel {
  float: left;
  margin-left: 60px;
  height: $schoolNameBox_height;
  line-height: $schoolNameBox_height + 8px;
}

#schoolRank {
  float: left;
  margin-left: 31px;
  width: 168px;
  height: 35px;
  line-height: 35px;
}

#schoolPerson {
  float: left;
  width: 171px;
  height: 35px;
  line-height: 35px;
}

#schoolStar {
  float: left;
  width: 90px;
  height: 72px;
  line-height: 16px;
  box-sizing: border-box;
  padding-top: 8px;
  padding-left: 8px;
}

#schoolInf {
  float: left;
  width: 371px;
  height: 81px;
  box-sizing: border-box;
  padding: 10px 20px;
}

.showTabs {
  width: $showTab_width;
  padding: 0!important;
  background-color: $lightGray-color;

  ul {
    height: 23px!important;
    width: $showTab_width!important;
    background-color: $grayBox-color!important;
    padding: 0!important;

    li {
      height: 22px!important;
      width: 38px!important;
      background-color: $aTab-color;
      line-height: 23px!important;
      text-align: center!important;
      padding: 0!important;

      &.ui-state-hover {
        @include hoverBright(1.2);
      }

      &.ui-state-active {
        height: 22px!important;
        width: 77px!important;
        background-color: $lightGray-color!important;

        &.ui-state-hover {
          @include hoverBright(1);
        }

        a {
          cursor: default!important;
        }
      }
    }
  }

  a {
    color: #ffffff!important;
    padding: 0!important;
    width: 100%!important;
    outline:none!important;

    &:active {
      color: #ffffff!important;
    }
  }
}

.showTabsSize {
  height: auto;
  padding: 5px 0 5px 5px !important;
}

.tableBox {
  height: 306px;
}

.tableTile {
  float: left;
  width: 664px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 3px;
  height: 43px;

  .table_Name,
  .tableT_Txo,
  .tableT_Lzo {
    line-height: 63px;
  }

  .table_ot {
    box-sizing: border-box;
    line-height: 16px;
  }

  .tableT_Tx,
  .tableT_Lz,
  .tableT_TB {
    cursor: pointer;

    span {
      float: left;
      margin-top: 5px;
      margin-left: 7px;
    }

    &:hover {
      @include hoverBright(1.2);
    }
  }

  > div {
    height: 43px;
  }

  div {
    float: left;
    margin: 0 1px 0 0;
    background-color: $tableTitle-color;
  }
}

.tableTile_D {
  float: left;
  width: 664px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 3px;
  height: 24px;
  line-height: 24px;

  div {
    height: 24px;
    float: left;
    margin: 0 1px 0 0;
    background-color: $tableTitle-color;
  }
}

$table_NumberN_width: 44px;
$table_NumberN_height: 23px;
$table_ot_width: 28px;
.tableT_TBo {
  margin-right: 0 !important;
  background-color: transparent !important;
  width: 10px + $table_NumberN_width * 11 + 1px;
  height: $table_NumberN_width - 1px;
}

.tableT_Txo,
.table_Txo,
.tableT_Lzo,
.table_Lzo, {
  width: 10px + $table_NumberN_width * 11;
}

.table_NumberN {
  width: $table_NumberN_width;
  height: $table_NumberN_height;
  line-height: $table_NumberN_height;

  &:nth-child(3),
  &:nth-child(4) {
    width: $table_NumberN_width + 9px;
  }

  &:nth-child(8),
  &:nth-child(9),
  &:nth-child(11) {
    width: $table_NumberN_width - 6px;
  }
}

.table_Number_Db {
  height: $table_NumberN_height;
  line-height: $table_NumberN_height;
  width: $table_NumberN_width + 9px;
}

.table_Number_Ds {
  height: $table_NumberN_height;
  line-height: $table_NumberN_height;
  width: $table_NumberN_width - 6px;
}


.table_ot,
.content_LzLine {
  width: $table_ot_width;
}

.table_Name {
  width: $showTab_width - 10px - 13px - $table_NumberN_width * 11 - $table_ot_width * 2;
}

.tableT_NumberT {
  margin-bottom: 1px !important;
  width: 10px + $table_NumberN_width * 11;
}

.tableT_NumberB {
  background-color: transparent !important;
  margin-right: 0 !important;
  overflow: hidden;
}

.content_TxSup {
  width: 20px;
  margin-left: 4px;
  background-color: $myYellow-color !important;
  color: #ffffff;
  border-radius: 3px;
}

.content_Tx,
.content_Lz {
  box-sizing: border-box;
  width: 10px + $table_NumberN_width * 11 - 1px;
  padding: 0 15px;
  display: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tableT_Lzo,
.tableT_Lz,
.table_Lzo,
.table_Lz {
  margin-right: 0 !important;
}

.tableContentBox_A,
.tableContentBox_D1,
.tableContentBox_D2,
.tableContentBox_B {
  float: left;
}

.tableContent {
  float: left;
  width: 664px;
  height: $table_NumberN_height + 2px;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-top: 1px;
  padding-left: 1px;
  margin-top: 1px;

  &.tableContent_hover {
    @include hoverBright(1.1);
  }

  div {
    float: left;
    height: $table_NumberN_height;
    line-height: $table_NumberN_height;
    background-color: $grayBox-color;
    margin-right: 1px;
    text-align: center;

  }

  .table_Name {
    width: $showTab_width - 10px - 13px - $table_NumberN_width * 11 - $table_ot_width * 2 - 1px;
  }
}

.table_TBo {
  background-color: #ffffff !important;
  margin-right: 0 !important;
  width: 10px + $table_NumberN_width * 11 + 1px;
}

$tableBox_Button_height: 56px;
$tableBox_Button_width: 664px;
.tableBox_Line {
  width: $tableBox_Button_width;
  height: 1px;
  background-color: $tableTitle-color;
  margin: 7px 0;
}

.tableBox_Button {
  height: $tableBox_Button_height;
  width: $tableBox_Button_width;
  background-color: $grayBox-color;

  div {
    float: left;
  }
}

.tableBox_Button_L {
  height: $tableBox_Button_height;
  background-color: $tableTitle-color;
  width: 9px;
}

.tableBox_Button_R {
  width: 136px;
  margin-left: 16px;
}

.tableBox_Button_Rt {
  width: 136px;
  height: 24px;
  font-size: 18px;
  margin-top: 6px;
}

.tableBox_Button_C {
  margin-top: 10px;
  width: 500px;
}

.tableTitle-color {
  background-color: $tableTitle-color !important;
}

.grayBox-color {
  background-color: $grayBox-color !important;
}

.tableT_NumberS {
  display: none;
}

.tableTile_D_margin {
  margin-top: 10px;
}

$table_Lz_D_width: 179px;
.table_Lz_D {
  width: $table_Lz_D_width;
  margin-right: 0 !important;
}

.table_Tx_D {
  width: $showTab_width - 10px - ($showTab_width - 10px - 13px - $table_NumberN_width * 11 - $table_ot_width * 2) - ($table_NumberN_width + 9px) - $table_Lz_D_width - 3px;
}

.table_Tx_S {
  width: $showTab_width - 10px - ($showTab_width - 10px - 13px - $table_NumberN_width * 11 - $table_ot_width * 2) - ($table_NumberN_width * 2 + 9px - 6px) - $table_Lz_D_width - 4px;
}

.table_Tx_D,
.table_Tx_S {
  box-sizing: border-box;
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.heightTip {
  height: auto !important;
  overflow: visible !important;
  white-space: normal !important;
  position: relative;
  text-align: left !important;
}

.table_Tx_B {
  margin-right: 0 !important;
  width: $showTab_width - 10px - ($showTab_width - 10px - 13px - $table_NumberN_width * 11 - $table_ot_width * 2) - 1px;
}

$setBox_left_width: 161px;
.setBox_left {
  float: left;
  width: $setBox_left_width;
  display: none;

  > div {
    box-sizing: border-box;
    float: left;
    width: $setBox_left_width;
    background-color: $myWhite-color;
    margin-bottom: 1px;
    padding: 5px;
  }
}

.setBox_lT {
  height: 151px;

  > div {
    float: left;
  }
}

$setBox_lM_height: 255px;
.setBox_lM {
  height: $setBox_lM_height;
}

.setBox_lB {
  height: 137px;

  div {
    float: left;
  }
}

.setBoxTitle {
  float: left;
  background-color: $myYellow-color;
  color: #ffffff;
  height: 151px - 10px;
  width: 34px;
  font-size: 20px;
  line-height: 28px;
  box-sizing: border-box;
  padding-top: 14px;
  padding-left: 7px;
}

.setBox_allList {
  margin-top: 7px;
}

.setBoxList {
  margin-left: 10px;
  width: 100px;
  height: 22px;

  .s_Male {
    margin-left: 55px;
    margin-right: 2px;
  }
}


.s_Male {
  float: left;
  background: url("/src/images/s_male.svg") no-repeat;
  height: 21px;
  width: 21px;
}

.s_Female {
  float: left;
  background: url("/src/images/s_female.svg") no-repeat;
  height: 21px;
  width: 21px;
}

.myTextRight {
  text-align: right;
}

.bodyDataList {
  font-size: 12px;
  width: $setBox_left_width - 10px - 5px;
  height: 21px;
  margin-left: 5px;

  &:hover {
    background-color: $grayBorder-color;
  }
}

.bodyDataProcess {
  width: $setBox_left_width - 10px - 10px;
  height: 5px;
}

.bodyDPBox {
  box-sizing: border-box;
  height: 4px;
  background-color: #ffffff;
  @include base-box($hp-blue-color);
}

.bodyDP {
  height: 2px;
  width: 100%;
  background-color: $hp-blue-color;
}

$photoBoxSize_w: 151px;
.photoBox {
  box-sizing: border-box;
  width: $setBox_left_width - 10px;
  height: $setBox_lM_height - 10px;
  @include base-box($myYellow-color);
}

.photoLeft {
  width: $setBox_left_width - 10px - 2px;
  height: $setBox_lM_height - 10px - 2px;
}


$setBox_right_width: 222px;
$setBox_right_height: 546px;
.setBox_right {
  float: left;
  width: $setBox_right_width;
  height: $setBox_right_height;
  background-color: $lightGray-color;
  margin-left: 15px;
  box-sizing: border-box;
  padding: 5px;
  display: none;

  div {
    float: left;
  }
}

.setSixBox {
  float: left;
  height: 151px - 10px;
  width: $setBox_right_width - 34px -10px;
  background-color: $myWhite-color;
  box-sizing: border-box;
  padding: 9px 7px;

  div {
    float: left;
  }
}

.myFont_red {
  color: $myRed-color;
}

.setSixBoxList {
  width: 178px - 7px * 2;
  height: 21px;
  line-height: 22px;
  box-sizing: border-box;
  padding-left: 23px;

  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(4),
  &:nth-child(5),
  &:nth-child(6) {
    &:hover {
      background-color: $grayBorder-color;
    }
  }

  div {
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      margin-left: 15px;
      font-family: 'Arial', serif;
      font-weight: bold;
    }
  }

  .myFont_red {
    font-size: 18px;
  }
}

.bt_sub,
.bt_add {
  color: $tableTitle-color;
  font-size: 24px;
  cursor: pointer;

  &:hover {
    color: $myYellow-color;
  }

  &.bt_off {
    opacity: 0.4;
    cursor: default;

    &:hover {
      color: $tableTitle-color;
    }
  }

}

div#sixDataSet_all_A,
div#sixDataSet_all_B {
  margin-left: 10px;
}

.setBox_rB {
  width: $setBox_right_width -10px;
  margin-top: 5px;
}

.setBoxCon {
  margin-bottom: 1px;

  &:hover {
    @include hoverBright(0.85);
  }

  div {
    height: 22px;
    line-height: 23px;
    background-color: $grayBox-color;
    text-align: center;
  }
}

$setBoxCon_l_width: 69px;
div.setBoxCon_l,
div.setBoxCon_lh {
  width: $setBoxCon_l_width;
  color: #ffffff;
  background-color: $tableTitle-color;
}

div.setBoxCon_lh,
div.setBoxCon_rh {
  height: 22px * 2 + 1px;
}

.setBoxCon_r,
.setBoxCon_rh {
  width: $setBox_right_width - $setBoxCon_l_width - 10px;
}

.setBoxCon_rh {
  background-color: transparent !important;

  .setBoxCon_rh3 {
    width: ($setBox_right_width - $setBoxCon_l_width - 10px - 2px)/3;

    &:nth-child(3),
    &:nth-child(6) {
      margin-right: 0 !important;
    }
  }

  .setBoxCon_rh4 {
    width: ($setBox_right_width - $setBoxCon_l_width - 10px - 3px)/4;

    &:nth-child(4),
    &:nth-child(8) {
      margin-right: 0 !important;
    }
  }
}

.setBoxCon_rh3,
.setBoxCon_rh4 {
  height: 22px - 1px;
  margin-right: 1px;
  margin-bottom: 1px;
}

.myFocusDark {
  @include hoverBright(0.85);
}

.mySvgLight {
  filter: url(#svgLight);
}

.ptoP {
  fill: #9ca9c2;
  stroke: #9ca9c2;
}

#pA_eye,
#pB_eye {
  fill: #ffffff;
}


.BaseBox {
  width: $bigBaseBox-width + 2px;
  margin: auto;
}

$title_height: 48px;
$title_paddingTop: 3px;
$title_paddingLeft: 158px;
$title_paddingRight: 30px;

.title {
  background-color: $darkBase-color;
  width: $bigBaseBox-width + 2px;
  height: $title_height;
  box-sizing: border-box;
  padding: $title_paddingTop $title_paddingRight $title_paddingTop $title_paddingLeft;
  margin-top: 71px;
  margin-bottom: 10px;
}

.contentBigBox {
  width: $bigBaseBox-width + 2px;
}

.titleTBack,
.titleTFront {
  height: $title_height - $title_paddingTop * 2;
  width: ($bigBaseBox-width  + 2px) - $title_paddingRight - $title_paddingLeft;
  position: absolute;
}

.titleTBack {
  .titleBL,
  .titleBR {
    background-color: black;
  }
}

.titleBL,
.titleBR {
  height: $title_height - $title_paddingTop * 2;
  width: 81px;
  line-height: $title_height - $title_paddingTop * 2;
  font-size: 16px;
  margin-right: 3px;
  text-align: center;
  color: $grayBox-color;
}

.titleBL {
  float: left;
}

.titleBR {
  float: right;
}

.titleFL,
.titleFR {
  cursor: pointer;
}

.logoPosition06 {
  margin-top: -58px;
  margin-left: -130px;
}

.titleFocus {
  background-color: $darkBase-color !important;
  height: 56px;
  margin-top: -6px;
  box-shadow: 1px 3px 6px 0 rgba(0, 0, 0, .1);
}

.statusBoxL {
  float: left;
  width: $setBox_left_width;
}

.statusBoxR {
  float: right;
  width: $setBox_left_width;
}


.statusBox_1,
.statusBox_2,
.statusBox_4 {
  box-sizing: border-box;
  padding: 4px;
  margin-top: -1px;
}

.statusBox_3 {
  width: $setBox_left_width;
  height: 31px;
  background-color: $grayBorder-color;
  margin-top: -1px;
}

.showFont {
  width: $photoBoxSize_w - 10px;
  height: 55px;
  margin-top: 6px;
  margin-left: 4px;
}

#sNameA,
#sNameB {
  font-size: 18px;
  font-weight: bold;
  float: left;
  width: 100px;
}

#sSexA,
#sSexB {
  float: right;
}

#sSchoolA,
#sSchoolB {
  float: left;
  width: 60px;
  height: 28px;
  line-height: 28px;
}

#sLevelA,
#sLevelB {
  float: right;
  width: 40px;
  text-align: right;
  height: 28px;
  line-height: 28px;
}

.sixDataBackground {
  div {
    font-weight: bold;
    font-size: 22px;
    color: $light-color;
    background-color: $grayBox-color;
  }
}

.sixDataFont {
  position: absolute;
}

.sdsBox {
  float: left;
  width: 31px;
  height: 29px;
  line-height: 29px;
  margin-top: 1px;
  margin-left: 1px;
  text-align: center;
}

$contentBoxMargin: 9px;
$contentBoxPadding: 10px;
.contentBox {
  float: left;
  margin-left: $contentBoxMargin;
  margin-right: $contentBoxMargin;
  width: ($bigBaseBox-width  + 2px) - ($setBox_left_width * 2) - ($contentBoxMargin * 2);
}

.contentTop,
.contentMid {
  position: relative;
  z-index: 0;
  left: 0;
  top: 0;
  box-sizing: border-box;
  padding: 0 $contentBoxPadding;
  width: ($bigBaseBox-width  + 2px) - ($setBox_left_width * 2) - ($contentBoxMargin * 2);
}

$contentTopHeight: 65px;
.contentTop {
  height: $contentTopHeight;
}

.contentMid {
  margin-top: -1px;
  min-height: 587px;
}

.moDiv,
.moNext {
  margin-top: 25px;
}

.moDiv {
  float: left;
}

.moNext {
  float: right;
  cursor: pointer;
}

.moSetBigBox {
  margin-top: $contentBoxPadding;
  box-sizing: border-box;
  background-color: $lightGray-color;
  padding: 5px;
  height: 151px;
  width: ($bigBaseBox-width + 2px) - ($setBox_left_width * 2) - ($contentBoxMargin * 2) - ($contentBoxPadding * 2);
}

.moSelectSchool {
  float: left;
  height: 151px - 10px;
  width: ($bigBaseBox-width + 2px) - ($setBox_left_width * 2) - ($contentBoxMargin * 2) - ($contentBoxPadding * 2) - (34px * 2) - ($setBox_right_width - 34px -10px) - (5px * 3);
  background-color: $myWhite-color;
  box-sizing: border-box;
  margin-right: 5px;
  padding-top: 1px;
  padding-left: 15px;
}

.moSSBox {
  float: left;
  background-color: $backgroundBase-color;
  width: 116px;
  height: 38px;
  margin-right: 9px;
  margin-top: 6px;
  cursor: pointer;
  box-sizing: border-box;
  padding-top: 8px;
  padding-left: 15px;

  &:hover {
    @include hoverBright(0.85);
  }

  div {
    float: left;
    height: 24px;
    line-height: 24px;
  }
}

.moSSBox.moSSelect {
  background-color: $aTab-color;
}

.moSLogo {
  width: 30px;
}

.mirror {
  transform: scaleX(-1);
}

.garyFont {
  color: $myGray-color;
}

.canClick {
  cursor: pointer;

  &:hover {
    color: $darkBase-color;
  }
}

.ui-widget-overlay.ui-front {
  background: $backgroundBase-color;
  opacity: .5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ui-dialog {
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .1);
}

.ui-dialog-titlebar {
  background-color: $myYellow-color;
}

.ui-dialog-titlebar-close {
  background: url("../images/Close_W.svg") no-repeat;
  background-size: 20px 20px;
  border: 0;

  &:hover {
    @include hoverBright(0.9);
  }
}

.ui-button {
  border: 0;

  &:hover {
    @include hoverBright(0.9);
  }
}

.bigBaseBox_changeHeight {
  @extend .bigBaseBox;
  height: $title_height !important;
  margin-top: 71px !important;
}

.leftLine_changeHeight {
  @extend .leftLine;
  height: $title_height !important;
}

.leftLine_changeWidth {
  background-color: $darkBase-color;
  height: 100%;
  width: 100%;
}

.BaseBox.BaseBox_position {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -($bigBaseBox-width + 2px) / 2;
}

#myLittleChartA,
#myLittleChartB {
  width: 150px;
  height: 140px;
  margin-top: 10px;
}

.sDataText0,
.sDataText1,
.sDataText2,
.sDataText3,
.sDataText4 {
  float: left;
  font-size: 12px;
  position: relative;
  height: 12px;
  width: 30px;
}

.sDataText0 {
  top: -140px;
  left: 64px;
}

.sDataText1 {
  top: -105px;
  left: -28px;
}

.sDataText2 {
  top: -30px;
  left: -43px;
}

.sDataText3 {
  top: -30px;
  left: 19px;
}

.sDataText4 {
  top: -105px;
  left: 5px;
}

.fightTimeBigBox {
  width: ($bigBaseBox-width  + 2px) - ($setBox_left_width * 2) - ($contentBoxMargin * 2) - ($contentBoxPadding * 2);
  height: $contentTopHeight;
  position: relative;
}

$electKfSize: 42px;
.selectKf_A,
.selectKf_B {
  width: $electKfSize;
  height: $electKfSize;
  box-sizing: border-box;
  padding: 7px;
  line-height: 14px;
  margin-top: 10px;
  position: absolute;
  top: 0;
  @include darkButton;
}

.selectKf_A {
  left: 0;
}

.selectKf_B {
  right: 0;
}

.fightTimeSmallBox {
  width: ($bigBaseBox-width  + 2px) - ($setBox_left_width * 2) - ($contentBoxMargin * 2) - (($electKfSize + $contentBoxPadding * 2) * 2);
  height: $contentTopHeight - 1px;
  margin-left: auto;
  margin-right: auto;
}

$fightTimeMBoxWidth: 130px;
$fightTimeMBoxMargin: 10px;
.fightTimeMBox {
  float: left;
  width: $fightTimeMBoxWidth;
  height: $contentTopHeight - 1px;
  margin-left: $fightTimeMBoxMargin;
  margin-right: $fightTimeMBoxMargin;
}

.fightTimeMBoxT {
  width: 100%;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2px;

  > div {
    &:nth-child(1),
    &:nth-child(3) {
      width: 30px;
    }

    &:nth-child(1) {
      text-align: right;
    }
  }
}

#roundText {
  font-size: 22px;
  font-weight: bold;
  margin: 0 10px;
}

#fightTimeMBoxB {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  height: 30px;
  width: 100px;
  margin-top: -4px;
  margin-left: 23px;
}

.zqBigBox_A,
.zqBigBox_B {
  width: (($bigBaseBox-width  + 2px) - ($setBox_left_width * 2) - ($contentBoxMargin * 2) - (($electKfSize + $contentBoxPadding * 2) * 2) - $fightTimeMBoxWidth - $fightTimeMBoxMargin * 2)/2;
  height: 21px;
  margin-top: 25px;
}

.zqBigBox_A {
  float: left;

  div {
    float: left;
  }
}

.zqBigBox_B {
  float: right;

  div {
    float: right;
  }
}

$zqHpBigBoxHeight: 5px;
.zqHpBigBox {
  width: (($bigBaseBox-width  + 2px) - ($setBox_left_width * 2) - ($contentBoxMargin * 2) - (($electKfSize + $contentBoxPadding * 2) * 2) - $fightTimeMBoxWidth - $fightTimeMBoxMargin * 2)/2;
  height: $zqHpBigBoxHeight;
}

.zqProcess {
  width: 100%;
  height: 100%;
  background-color: #C7C7C7;
}

.zqBoxP {
  box-sizing: border-box;
  @include base-box($hp-blue-color);
  background-color: #ffffff;
  width: 100%;
  height: 100%;
}

.zqDP {
  width: 100%;
  height: 100%;
  background-color: $hp-blue-color;
}

.fightSelectButtonBox {
  margin-top: $contentBoxPadding;
}

.fightButtonBoxT,
.fightButtonBoxB {
  width: auto;
  height: 40px;
}

$GiveInHeight: 24px;
#GiveIn {
  float: left;
  width: 42px;
  height: $GiveInHeight;
  line-height: $GiveInHeight;
  @include darkButton;
}

.speedSetBox {
  float: right;
  width: 127px;
  height: $GiveInHeight - 4px;
  background-color: $tableTitle-color;
  border: 2px solid $tableTitle-color;

  &:hover {
    @include hoverBright(1.2);
  }
}

.speedSetText {
  position: relative;
  z-index: 2;
  width: auto;
  height: $GiveInHeight - 4px;
  line-height: $GiveInHeight - 4px;
  color: #ffffff;
  padding: 0 2px;

  div {
    float: left;
    width: 41px;
    height: auto;
    text-align: center;
    cursor: pointer;
  }
}

.speedSetTextF {
  color: $tableTitle-color;
}

.speedSetOn {
  position: relative;
  z-index: 1;
  top: -20px;
  left: 0;
  background-color: #ffffff;
  height: 20px;
  width: 45px;
}

.fightPause {
  float: right;
  width: 42px;
  height: 42px;
  line-height: 42px;
  @include darkButton;
}

.fightStart {
  font-size: 36px;
  font-weight: bold;
  width: 160px;
  cursor: pointer;
  position: absolute;
  z-index: 2;
  top: 100px;
  left: 333px;

  &:hover {
    @include hoverBright(2);
  }
}

$kfSelectBoxHeight: 680px;
.kfSelectBox {
  position: absolute;
  top: 0;
  left: $contentBoxPadding;
  z-index: 10;
  background-color: $grayBox-color;
  width: ($bigBaseBox-width  + 2px) - ($setBox_left_width * 2) - ($contentBoxMargin * 2) - ($contentBoxPadding * 2);
  height: $kfSelectBoxHeight;
  box-shadow: 1px 3px 6px 0 rgba(0, 0, 0, .05);

  > div {
    float: left;
  }
}

$kfBoxLineSize: 7px;
.kfBoxLine {
  background-color: $tableTitle-color;
  width: $kfBoxLineSize;
  height: $kfSelectBoxHeight;
}

.kfBox {
  width: ($bigBaseBox-width  + 2px) - ($setBox_left_width * 2) - ($contentBoxMargin * 2) - ($contentBoxPadding * 2) - ($kfBoxLineSize * 2);
  height: $kfSelectBoxHeight;
  box-sizing: border-box;
  padding: 0 47px;
}

$selectDotted_padding: 5px;
.selectDotted {
  box-sizing: border-box;
  width: $tableBox_Button_width;
  height: 170px;
  border: 1px dashed #ffffff;
  margin-top: 10px;
  padding: $selectDotted_padding;
}

.selectTableTile_A {
  margin-bottom: 3px;
  height: $table_NumberN_height + 2px;

  > div {
    float: left;
    color: #ffffff;
    background-color: $tableTitle-color;
    height: $table_NumberN_height + 2px;
    line-height: $table_NumberN_height + 2px;
    text-align: center;
    margin-right: 1px;
  }

  .table_closeT {
    width: $table_closeIco_Size + 4px + 1px !important;
  }
}


.table_attSubT,
.table_attFlawY {
  width: $table_NumberN_width + 9px;
}

.table_attCostT,
.table_attNumY {
  width: $table_NumberN_width;
}

$selectInDiv_width: 32px;
.table_attFromT,
.table_attToT {
  box-sizing: border-box;
  padding-left: 1px;

  > div {
    float: left;
    font-size: 12px;
    width: $selectInDiv_width;
    height: $table_NumberN_height - 4px;
    line-height: $table_NumberN_height - 4px;
    background-color: $light-color;
    @include base-box($aTab-color);
    margin-right: 1px;
    margin-top: 1px;
    cursor: pointer;

    &:hover {
      @include hoverBright(0.8);
    }
  }
}

.table_attFromT {
  width: ($selectInDiv_width + 3px) * 2 + 3px;
}

.table_attToT {
  width: ($selectInDiv_width + 3px) * 6 + 3px;
}

.selectTC_Box{
  height: $table_NumberN_height + 3px;

  &:hover{
    @include hoverBright(1.2);
  }
}

.selectTC {
  float: left;
  height: $table_NumberN_height + 2px;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-top: 1px;
  padding-left: 1px;
  margin-top: 1px;

  > div {
    float: left;
    height: $table_NumberN_height;
    line-height: $table_NumberN_height;
    background-color: $grayBox-color;
    margin-right: 1px;
    text-align: center;
  }

  > .table_Name {
    width: $showTab_width - 10px - 13px - $table_NumberN_width * 11 - $table_ot_width * 2 - 1px;
  }
}

.tableSelect {
  background-color: $tableTitle-color !important;
  color: #ffffff;
}

.table_ComboT {
  background: none !important;
  color: $tableTitle-color !important;
  width: $tableBox_Button_width - $selectDotted_padding * 2 - ($table_NumberN_width + 9px)*2 - ($table_NumberN_width * 2) - (($selectInDiv_width + 3px) * 2 + 3px) - (($selectInDiv_width + 3px) * 6 + 3px) - ($showTab_width - 10px - 13px - $table_NumberN_width * 11 - $table_ot_width * 2 - 1px) - ($table_closeIco_Size + 4px + 1px) - 12px;
}


.table_closeT {
  width: $table_closeIco_Size + 4px;
}

.table_closeIcoA,
.table_closeIcoB {
  height: $table_closeIco_Size;
  width: $table_closeIco_Size;
  margin-left: 2px;
  margin-top: 4px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.table_closeIcoA {
  background: url("../images/Close_W.svg") no-repeat;
  background-size: $table_closeIco_Size $table_closeIco_Size;
}

.table_closeIcoB {
  background: url("../images/Close_B.svg") no-repeat;
  background-size: $table_closeIco_Size $table_closeIco_Size;
}

.table_Combo {
  float: left;
  position: relative;
}

$table_Combo_T_s: 21px;
.table_Combo_T {
  position: absolute;
  top: 16px;
  left: 8px;
  width: $table_Combo_T_s;
  height: $table_Combo_T_s;
  background: url("../images/Link_L.svg") no-repeat;
  background-size: $table_Combo_T_s $table_Combo_T_s;
  cursor: pointer;
}

.table_ComboLink_T,
.table_ComboLink_L,
.table_ComboLink_B {
  position: absolute;
  width: 18px;
  height: 11px;
  top: 8px;
}

.table_ComboLink_T {
  background: url("../images/LinkLine_T.gif") no-repeat;
}

.table_ComboLink_L {
  background: url("../images/LinkLine_L.gif") no-repeat;
}

.table_ComboLink_B {
  background: url("../images/LinkLine_B.gif") no-repeat;
}

.KfBox_bottom {
  float: left;
  margin-top: 9px;
  width: $showTab_width;
}

.sumBoxBig_zq,
.sumBoxBig_flaw,
.selectOver{
  float: right;
  margin-left: 40px;

  div{
    text-align: right;
  }
}

.selectOver {
  width: 106px;
  height: 54px;
  line-height: 54px;
  background-color: $tableTitle-color;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  cursor: pointer;

  &:hover{
    @include hoverBright(1.2);
  }
}

.sumBox_flaw,
.sumBox_zq{
  font-weight: bold;
  font-size: 20px;

  >span{
    font-size: 26px!important;
  }
}
